* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#toolbar {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: lightcoral;
  /* border: 5px solid green; */
}

#main-area {
  display: flex;
  width: 100vw;
  height: 90vh;
  background-color: lightgreen;
}

#logo {
  width: 20%;
  height: 100%;
  background-color: gray;
}

#tools {
  width: 80%;
  height: 100%;
  background-color: lightseagreen;
}

#sidebar {
  width: 20%;
  height: 100%;
  background-color: lightseagreen;
}

#dashboard {
  width: 80%;
  height: 100%;
  background-color: grey;
}

#dashboard-tools {
  width: 100%;
  height: 10%;
  background-color: blue;
}

#dashboard-cards {
  display: flex;
  width: 100%;
  height: 30%;
  /* background-color: burlywood; */
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.dashboard-card {
  width: 23%;
  height: 100%;
  background-color: green;
  margin: 0 1%;
}

#dashboard-charts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  /* background-color: khaki; */
}

.dashboard-chart {
  margin: 0 2%;
  width: 46%;
  height: 95%;
  background-color: red;
}
