* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar {
  background-color: black;
  padding: 10px;
}

#btn-1 {
  /* border: 2px solid green; */
  text-decoration: none;
  color: white;
  margin-left: 20px;
  margin-right: 220px;
  font-weight: 900;
}
#btn-2,
#btn-3,
#btn-4 {
  /* border: 2px solid green; */
  margin-right: 15px;
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size: 13px;
}

#btn-5 {
  /* border: 2px solid red; */

  text-decoration: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  margin-left: 240px;
  padding: 5px 10px;
}
